<ons-page ng-controller="TopController">
    <ons-toolbar>
        <div class="center">写真からどこいくの？</div>
        <div class="right"><ons-toolbar-button ng-click="ons.slidingMenu.toggleMenu();">MENU</ons-toolbar-button></div>
    </ons-toolbar>
    <table>
        <tr>
            <td>
                <img src="images/pic-01.png" id="pic-01" width="150" height="150" ng-click="ons.slidingMenu.setMainPage('detail.html', {closeMenu: true}); sendName($event);">
            </td>
            <td>
                <img src="images/pic-02.png" id="pic-02" width="150" height="150" ng-click="ons.slidingMenu.setMainPage('detail.html', {closeMenu: true}); sendName($event);">
            </td>
        </tr>
        <tr>
            <td>
                <img src="images/pic-03.png" id="pic-03" width="150" height="150" ng-click="ons.slidingMenu.setMainPage('detail.html', {closeMenu: true}); sendName($event);">
            </td>
            <td>
                <img src="images/pic-04.png" id="pic-04" width="150" height="150" ng-click="ons.slidingMenu.setMainPage('detail.html', {closeMenu: true}); sendName($event);">
            </td>
        </tr>
        <tr>
            <td>
                <img src="images/pic-05.png" id="pic-05" width="150" height="150" ng-click="ons.slidingMenu.setMainPage('detail.html', {closeMenu: true}); sendName($event);">
            </td>
            <td>
                <img src="images/pic-06.png" id="pic-06" width="150" height="150" ng-click="ons.slidingMenu.setMainPage('detail.html', {closeMenu: true}); sendName($event);">
            </td>
        </tr>
        <tr>
            <td>
                <img src="images/pic-07.png" id="pic-07" width="150" height="150" ng-click="ons.slidingMenu.setMainPage('detail.html', {closeMenu: true}); sendName($event);">
            </td>
            <td>
                <img src="images/pic-08.png" id="pic-08" width="150" height="150" ng-click="ons.slidingMenu.setMainPage('detail.html', {closeMenu: true}); sendName($event);">
            </td>
        </tr>
        <tr>
            <td>
                <img src="images/pic-09.png" id="pic-09" width="150" height="150" ng-click="ons.slidingMenu.setMainPage('detail.html', {closeMenu: true}); sendName($event);">
            </td>
            <td>
                <img src="images/pic-10.png" id="pic-10" width="150" height="150" ng-click="ons.slidingMenu.setMainPage('detail.html', {closeMenu: true}); sendName($event);">
            </td>
        </tr>
        <tr>
            <td>
                <img src="images/pic-11.png" id="pic-11" width="150" height="150" ng-click="ons.slidingMenu.setMainPage('detail.html', {closeMenu: true}); sendName($event);">
            </td>
            <td></td>
        </tr>
    </table>
</ons-page>